:root {
  --white: #ffffff;
  --black: #000000;
  --grey: #828282;
  --dark-grey: #4d4d4d;
  --link: #0000ff;
  --error-msg: #ff0000;
  --main-background: #d4c9eb;
  --admin-main-pages-background: #f3f2f7;
  --input-background: #224957;
  --submit-background: #20df7f;
  --hover-green: #d9f3ea;
  --hover-text-green: #01b075;
}

* {
  padding: 0px;
  margin: 0px;
}
