/* ______________________________________________ */
/* _______________ADMIN_LOGIN_SCREEN____________ */
/* ______________________________________________ */
.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container h2 {
  padding: 50px;
  font-size: 60px;
  font-weight: 400;
  color: var(--black);
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forgot-password-btn {
  color: var(--link);
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.form-signin input {
  width: 70%;
  padding: 15px;
  margin: 22px 0 5px 0;
  border-radius: 10px;
  outline: 0px;
  border: none;
  background: var(--input-background);
  color: var(--white);
  font-size: 1rem;
}
.form-signin input::placeholder {
  color: var(--white);
}
.form-signin input:focus::-webkit-input-placeholder {
  color: transparent;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.form-signin input:focus:-moz-placeholder {
  color: transparent;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
} /* FF 4-18 */
.form-signin input:focus::-moz-placeholder {
  color: transparent;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
} /* FF 19+ */
.form-signin input:focus:-ms-input-placeholder {
  color: transparent;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
} /* IE 10+ */

.form-signin .submit-btn {
  width: 100%;
}

.form-error {
  width: 77%;
}

.form-signin .forgot-password {
  width: 77%;
  text-align: end;
  margin-top: 10px;
}

.main-container .main-wrapper .page-title {
  font-size: 30px;
  font-weight: 400;
  color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container .main-wrapper .page-title .forgot-password-heading {
  font-size: 20px;
  font-weight: 400;
  color: var(--black);
  width: 70%;
  text-align: center;
}

.forgot-otp-box {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 20px auto auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ______________________________________________ */
/* _______________ADMIN_LAYOUT____________ */
/* ______________________________________________ */
